<h2 id="title">{{title}}</h2>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession'}} href="">Logout</a>
  <br>
  {{#link-to 'favorites'}}Best recipes{{/link-to}}
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}

{{outlet}}
